.ControlsCell_container__A8TZz{display:flex;gap:.5rem;justify-content:start;width:100%}@media screen and (width >= 1024px){.ControlsCell_container__A8TZz{justify-content:end}}.ControlsCell_icon__LvB7y{color:var(--text-color-tertiary)}
.StakingAmountCell_container__m1Fhs{display:flex;flex-direction:column}
